youtube-nocookie.com googlevideo.com * allow
youtube-nocookie.com s.ytimg.com script allow
youtube.com accounts.google.com frame allow
youtube.com clients1.google.com script allow
youtube.com googlevideo.com xhr allow
youtube.com s.ytimg.com xhr allow
youtube.com www.google.com other allow
youtube.com www.google.com script allow
